<!DOCTYPE html>
<html>
<head>
    <title>{{ pizza.name }}</title>
</head>
<body>
    <h1>{{ pizza.name }}</h1>
    <h2>Toppings:</h2>
    <ul>
        {% for topping in pizza.topping_set.all %}
            <li>{{ topping.name }}</li>
        {% empty %}
            <li>No toppings yet.</li>
        {% endfor %}
    </ul>

    <h3>Add a Topping</h3>
    <form method="POST">
        {% csrf_token %}
        {{ topping_form.as_p }}
        <button type="submit">Add Topping</button>
    </form>
    <br>
    <a href="{% url 'index' %}">Back to the list</a>
</body>
</html>

